#container{
 background-color: rgb(220, 59, 59); 
 max-width: 30vw;
 text-align: center;
 height: 100ex;
 padding: 20px;
 size: 10px;
}
.button{
  padding: 30px;
  margin: 5px;
  font-size: larger;
  border-radius: 9px;
  cursor: pointer;
}
.input{
  font-size: larger;
}